<style>
#all{
	cursor: pointer;
}

</style>




	<div class="card-header">
		<div class="card-title ">
			
					<div class="row">
						<div class="col-6">	
							<input ng-keyup="Search()" class="col-6"  id="inputsearch" class="form-control mr-sm-4" type="search" placeholder="2021/11/01 hoặc 2021-11-01">
							<button  ng-click="fills()"><i class="fas fa-search"></i></button>
						<div class="autocom-box">
							<li ng-repeat="lsd in SeachList" ng-click="select(this)"><a href="">{{lsd}}</a></li>
						</div>
						</div>
						
						<div class="col-6">				
					<select ng-model="fillmovie" id="movie" ng-change="fills()" class="btn btn-light">
						<option value="">Tất cả phim</option>
						<option ng-repeat="m in movies" ng-value="{{m.id}}">{{m.name}}
					</select>			
					</div>
			
					</div>
				
			
	
				<br />	
			<div class="row">
			<div class="col-6">
				
					<select class="btn btn-light" id="room" ng-model="room" ng-change="fills()">
						<option value="">Tất cả phòng</option>
						<option ng-repeat="r in roomss" ng-value="r.name">{{r.name}}</option>
					</select>
			
			</div>
			<div class="col-6">
				
					<select class="btn btn-light" id="showdate" ng-model="showdate" ng-change="fills()" ng-click="setinputformdate()">
						<option value="">Tất cả ngày chiếu</option>
						<option ng-repeat="srss in listshowdate" ng-value="srss">{{srss}}</option>
					</select>
				
				</div>
			
			
			
	</div>	
	</div>
	</div>
	<div class="card-body">
		<table class="table table-dark">
			<tr>
				<th style="cursor: pointer;" ng-click="fillUpAndDown('id')">Id</th>
				<th>Phim</th>
				<th>Rạp</th>
				<th>Phòng</th>
				<th style="cursor: pointer;" ng-click="fillUpAndDown('showDate')">Ngày chiếu</th>
				<th>Giờ bắt đầu</th>
				<th>Giờ kết thúc</th>
				<th>Trạng thái</th>
			</tr>

			<tr ng-repeat="i in pager.items">
				<td>{{i.id}}</td>
				<td>{{i.movie.name}}</td>
				<td>{{i.room.cinema.name}}</td>
				<td>{{i.room.name}}</td>
				<td>{{i.showDate | date: 'dd/MM/yyyy'}}</td>
				<td>{{i.startTime}}</td>
				<td>{{i.endTime}}</td>
				<td>{{i.activity ?'Hoạt động':'Không hoạt động'}}</td>
				<td><button ng-click="edit(i)" style="color: yellow;" href="" class="btn btn-outline-light border border-primary text-primary font-weight-bold">Edit</button></td>
			</tr>
		</table>
		</div>
		<div class="card-footer clearfix">
			<button type="button"
				ng-click="pager.first()" ng-disabled="pager.page == 0" class="btn btn-outline-dark border border-primary text-primary font-weight-bold">
				<i class="fas fa-hand-point-left"></i>
			</button>
			<button type="button"
				ng-click="pager.prev()" ng-disabled="pager.page == 0" class="btn btn-outline-dark border border-primary text-primary font-weight-bold">
				<i class="fas fa-arrow-circle-left"></i>
			</button>
			<button type="button" ng-disabled="pager.items.length < 10"
				ng-click="pager.next()" class="btn btn-outline-dark border border-primary text-primary font-weight-bold">
				<i class="fas fa-arrow-circle-right"></i>
			</button>
			<button type="button" ng-click="pager.last()" ng-disabled="pager.items.length < 10"
				class="btn btn-outline-dark border border-primary text-primary font-weight-bold">
				<i class="fas fa-hand-point-right"></i>
			</button>
		</div>
	
	<div class="card-footer">Danh sách suất chiếu
</div>



