<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Chi tiết film</title>
	<!-- Template CSS -->
	<link rel="stylesheet" href="/assets/css/style-starter.css">
	<link rel="stylesheet" href="/assets/css/film-detail.css">
	<!-- Template CSS -->
	<link href="//fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap"
		rel="stylesheet">
	<!-- Template CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<!-- SECTION -->
	<div class="section details-film">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- film thumb imgs -->
				<div class="col-md-4  col-md-pull-5">
					<div id="film-imgs">
						<div class="film-preview">
							<img src="/assets/images/m4.jpg" alt="">
						</div>
					</div>
				</div>
				<!-- /film thumb imgs -->
				<div class="vl col-md-1"></div>
				<!-- film details -->
				<div class="col-md-7">
					<div class="film-details">
						<h1 class="film-name">Little Women</h1>
						<h1 class="film-name" style="color: #D10024;">Những người phụ nữ nhỏ bé</h1>
						<br>
						<div>
							<div class="film-rating">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-o"></i>
							</div>
							<a class="review-link" href="#">10 Đánh giá | Thêm đánh giá của bạn</a>
						</div>
						<ul class="film-links">
							<li>Đạo diễn:</li>
							<li><a href="#">Greta Gerwig</a></li>
						</ul>

						<ul class="film-links">
							<li>Thể loại:</li>
							<li><a href="#">Lãng mạng</a></li>
							<li><a href="#">Chính kịch</a></li>
						</ul>
						<ul class="film-links">
							<li>Thời lượng:</li>
							<li><a href="#">2 giờ 15 phút</a></li>
						</ul>
						<ul class="film-links">
							<li>Ngày phát hành:</li>
							<li><a href="#">25/12/2019</a></li>
						</ul>
						<ul class="film-links">
							<li>Nội dung phim:</li>
							<p>Những người phụ nữ bé nhỏ là một bộ phim cổ trang, tuổi mới lớn của Hoa Kỳ năm 2019 do
								Greta Gerwig đạo diễn kiêm viết kịch bản.<span id="dots">...</span><span id="more">phát
									hành ngày 25/12/2019.</span></p>
							<li class="read-more" onclick="myFunction()" id="myBtn">Xem thêm</li>
						</ul>
						<br>
						<div class="book-ticket">
							<button class="book-ticket-btn"><i class="fa fa-shopping-cart"></i> Đặt vé</button>
						</div>
						<ul class="film-links">
							<li>Chia sẻ:</li>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						</ul>
					</div>
				</div>
				<!-- /film details -->

				<div class="trailer">
					<h4>Trailers film</h4> <br>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/AST2-4db4ic"
						title="YouTube video player" frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen></iframe>
				</div>
			</div>
			<!-- /row -->
		</div>

		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<!-- responsive tabs -->
	<script src="/assets/js/jquery-1.9.1.min.js"></script>
<script src="/assets/js/easyResponsiveTabs.js"></script>
<script src="/assets/js/theme-change.js"></script>
<script src="/assets/js/owl.carousel.js"></script>
<script src="/assets/js/slider.js"></script>
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
</body>

</html>