<div class="card">
	<div class="card-header">
		<div class="card-title row">
			<h5 class="col-12">
				<ion-icon name="information-outline" style="font-size:25px"></ion-icon>
				THÔNG TIN PHÒNG CHIẾU
			</h5>
		</div>
	</div>
	<div class="card-body">
		<br>
		<div class="row">
			<div class="col-3 form-group">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Tên phòng" ng-model="room.name">
				</div>
			</div>
			<div class="col-3 form-group">
				<div class="input-group">
					<select ng-change="findRapFromCity()" ng-model="room.cinema.city.id" class="custom-select">
						<option value="">Tỉnh/ Thành phố</option>
						<option ng-repeat="c in cities" ng-value="c.id">{{c.name}}</option>
					</select>
				</div>
			</div>
			<div class="col-3 form-group">
				<div class="input-group">
					<select class="custom-select" ng-model="room.cinema.id">
						<option value="">Rạp chiếu</option>
						<option ng-repeat="c in cinemas" ng-value="c.id">{{c.name}}</option>
					</select>
				</div>
			</div>
			<div class="col-3">
				<div class="form-group">
					<button ng-if="index == 0" ng-click="create()"
						class="btn btn-outline-dark border border-primary text-primary font-weight-bold ">
						<img alt="" src="/assets/images/edit.png"> Thêm
					</button>
					<button ng-if="index == 1" ng-click="update()"
						class="btn btn-outline-dark border border-warning text-warning font-weight-bold">
						<img alt="" src="/assets/images/write.png"> Cập nhật
					</button>
					<button ng-if="updateRoom.activity==true" type="button" ng-click="delete()"
						class="btn btn-outline-dark border border-danger text-danger font-weight-bold">
						<img alt="" src="/assets/images/padlock.png">Bảo trì
					</button>
					<button ng-if="updateRoom.activity==false" type="button" ng-click="delete()"
						class="btn btn-outline-dark border border-danger text-danger font-weight-bold">
						<img alt="" src="/assets/images/open-lock.png">Hoạt động
					</button>
					<button type="button" ng-click="reset()"
						class="btn btn-outline-dark border border-success text-success font-weight-bold">
						<img alt="" src="/assets/images/updated.png">Mới
					</button>
				</div>
			</div>
		</div>
		<hr style="background-color: yellow;"> 
		<br>
		<div ng-show="show">
			<nav class="navbar navbar-light row" style="background-color: #e3f2fd;">
				<div class="col-3">
					<div class="form-group">
						<label for="exampleInputEmail1">Số ghế</label> 
						<input type="text" class="form-control" ng-model="seat.name">
					</div>
				</div>
				<div class="col-3">
					<div class="form-group">
						<label for="exampleInputEmail1">Loại ghế</label>
						 <select ng-model="seat.type.id" class="form-control">
						 	<option value="">Chọn loại ghế</option>
							<option ng-repeat="ty in types" ng-value="ty.id">{{ty.name}}</option>
						</select>
					</div>
				</div>
				<div class="col-3">
					<div class="form-group">
						<label for="exampleInputEmail1">Vị trí ghế</label>
						<div class="form-control">{{position}}</div>
					</div>
				</div>
				<button ng-click="add()" ng-if="indexButton == 0" class="btn btn-info btn-lg btn3d">Thêm</button>
				<button ng-click="updateSeats()" ng-if="indexButton == 1" class="btn btn-warning btn-lg btn3d">Sửa</button>
				<button ng-click="deleteSeat()" ng-if="indexButton == 1" class="btn btn-danger btn-lg btn3d">Xóa</button>
				<button ng-click="resetSeat()" class="btn btn-success btn-lg btn3d">Mới</button>	
			</nav>
		</div>
		<br>
		<div class="row body" ng-show="show">
			<div class="col-12">
				<div class="rowA btn-group btn-group-toggle">
					<label ng-repeat="p in positions" class="form-check form-check-inline"> 
						<input class="form-check-input" type="radio" name="options" id="{{p.id}}">
						<div class="icon-box" ng-click="editSeat(p)">
							<span>{{p.seat.name}}</span>
						</div>
					</label>
				</div>
			</div>
		</div>
	</div>
	<div class="card-footer">Thông tin chi tiết phòng chiếu.</div>
</div>