<div class="card">
	<div class="card-header">
		<div class="card-title row">
			<h5 class="col-12">
				<ion-icon name="information-outline" style="font-size:25px"></ion-icon>
				THÔNG TIN PHÒNG CHIẾU
			</h5>
		</div>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-3 form-group">				
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Tên phòng"
							ng-model="form.name" ng-class="error.name?'border-danger':' '"> 
						<div class="input-group-append" ng-show="error.name">
							<span class="input-group-text fa fa-times bg-danger text-light"></span>
						</div>
					</div>
					<span class="text-danger" ng-show="error.name">{{error.name}}</span>
			</div>
			<div class="col-3 form-group">
				<div class="input-group">
					<input type="text" class="form-control"
						placeholder="Số lượng cột ghế" ng-model="form.totalcolumn" ng-class="error.totalcolumn?'border-danger':' '">
					<div class="input-group-append" ng-show="error.totalcolumn">
						<span class="input-group-text fa fa-times bg-danger text-light"></span>
					</div>
				</div>
				<span class="text-danger" ng-show="error.totalrow">{{error.totalcolumn}}</span>
			</div>
			<div class="col-3 form-group">
				<div class="input-group">
					<input type="text" class="form-control"
						placeholder="Số lượng hàng ghế" ng-model="form.totalrow" ng-class="error.totalrow?'border-danger':' '">
					<div class="input-group-append" ng-show="error.totalrow">
						<span class="input-group-text fa fa-times bg-danger text-light"></span>
					</div>	
				</div>
				<span class="text-danger" ng-show="error.totalrow">{{error.totalrow}}</span>
			</div>
			<div class="col-3">
				<div class="form-group">
					<button type="button" ng-click="create()"
						class="btn btn-outline-dark border border-primary text-primary font-weight-bold">
						<img alt="" src="/assets/images/edit.png"> Create
					</button>
					<button type="button" ng-click="update()"
						class="btn btn-outline-dark border border-warning text-warning font-weight-bold">
						<img alt="" src="/assets/images/write.png"> Update
					</button>
				</div>
			</div>
			<br> <br>
			<div class="col-3 form-group">
				<div class="input-group">
					<select class="custom-select" ng-model="form.cinema.id">
						<option value="">Rạp chiếu</option>
						<option ng-repeat="c in cinemas" ng-value="c.id">{{c.name}}</option>
					</select>
					<div class="input-group-append" ng-show="error.cinema">
								<span class="input-group-text fa fa-times bg-danger text-light"></span>
					</div> 
				</div>
				<span class="text-danger" ng-show="error.cinema">{{error.cinema}}</span>
			</div>
			<div class="col-6">
				<div class="form-check-inline">
					<label class="form-check-label"> <input type="radio"
						class="form-check-input" ng-model="form.activity" ng-value="true" name="activity">Hoạt động
					</label>
				</div>
				<div class="form-check-inline">
					<label class="form-check-label"> <input type="radio"
						class="form-check-input" ng-model="form.activity" ng-value="false" name="activity">Bảo Trì
					</label>
				</div>
			</div>
			<div class="col-3">
				<div class="form-group">
					<button type="button" ng-click="delete(form.id)"
						class="btn btn-outline-dark border border-danger text-danger font-weight-bold">
						<img alt="" src="/assets/images/trash.png">Delete
					</button>
					<button type="button" ng-click="reset()"
						class="btn btn-outline-dark border border-success text-success font-weight-bold">
						<img alt="" src="/assets/images/updated.png">Reset
					</button>
				</div>
			</div>
			<div class="card-body" ng-show="seatpager.seats.length >0">
				<table class="table table-dark">
			  		<thead>
			    		<tr>
							<th>Tên Phòng</th>
							<th>Loại ghế</th>
							<th>Vị trí hàng</th>
							<th>Vị trí cột</th>	
			    		</tr>
			  		</thead>
			  		<tbody>
			  			<tr ng-repeat="s in seatpager.seats">
			  				<td>{{s.room.name}}</td>
			  				<td>{{s.type.name}}</td>
			  				<td>{{s.colposition}}</td>
			  				<td>{{s.rowposition}}</td>
			  			</tr>  	
			  		</tbody>
				</table>
				<div class="d-flex justify-content-center">
					<button ng-click="seatpager.first()" type="button" class="btn btn-outline-dark border border-primary text-primary font-weight-bold"> <img alt="" src="/assets/images/left-arrow.png"></button>
					<button ng-click="seatpager.prev()" type="button" class="btn btn-outline-dark border border-primary text-primary font-weight-bold"> <img alt="" src="/assets/images/arrow-left.png"></button>
					<button ng-click="seatpager.next()" type="button" class="btn btn-outline-dark border border-primary text-primary font-weight-bold"> {{seatpager.page+1}} of {{seatpager.count}}</button>
					<button ng-click="seatpager.next()" type="button" class="btn btn-outline-dark border border-primary text-primary font-weight-bold"> <img alt="" src="/assets/images/arrow-right.png"></button>
					<button ng-click="seatpager.last()" type="button" class="btn btn-outline-dark border border-primary text-primary font-weight-bold"> <img alt="" src="/assets/images/right-arrow.png"></button>
				</div>
			</div>
		</div>
	</div>
	<div class="card-footer">Thông tin chi tiết hóa đơn.</div>
</div>