<div class="panel panel-default" >
    <div class="panel-heading row col-6">
		<div class="form-group mx-sm-3 mb-2">
		    <label for="inputPassword2" class="sr-only">Password</label>
		    <input type="text" ng-model="username" class="form-control" id="inputPassword2" placeholder="Search">
		 </div>
		 <button ng-click="search(username)" class="btn btn-primary mb-2">Search</button>
	</div>
    	<br>
        <table class="table table-border">
            <thead class="bg-success" style="font-variant: small-caps;">
                <tr>
                	<th>Tài Khoản</th>
                    <th>Họ và Tên</th>
                    <th ng-repeat="role in roles" class="text-center">{{role.name}}</th>
                </tr>
            </thead>
        
        <tbody>
            <tr ng-repeat="acc in users "  >
            	<td>{{acc.username}}</td>
                <td>{{acc.fullname}}</td>
                <th ng-repeat="role in roles" class="text-center">
                    <input type="checkbox"
                    ng-checked="authority_of(acc, role)"
                    ng-click="authority_changed(acc, role)">
                </th>
            </tr>
        </tbody>
    </table>
</div>