<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/layout.html :: dynamic(~{::body})}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Đặt vé</title>
</head>
<body>
	<div class="form-checkout">
		<section class="w3l-grids">
		<br>
			<div class="grids-main">
				<div class="container col-sm-12"
					style="background-color: black; height: 3rem; text-align: center;">
					<div style="height: 3px;"></div>
					<h4 style="color: white">
						CHỌN GHẾ
					</h4>
				</div>
			</div>
			<br>
			<h4 class="screen mx-auto" style="width: 200px; text-align: center;">Màn hình</h4>
			<div class="panel panel-default  col-sm-10 offset-1">
				<div class="panel-body">
					<div class="row body">
						<div class="col-12">
							<div class="rowA btn-group btn-group-toggle">
								<label class="form-check form-check-inline"> 
									<input class="form-check-input" type="radio" name="options" id="1">
									<div class="icon-box">
										<span>A1</span>
									</div>
								</label>
								<label class="form-check form-check-inline"> 
									<input class="form-check-input" type="radio" name="options" id="1">
									<div class="icon-box">
										<span>A1</span>
									</div>
								</label>
								<label class="form-check form-check-inline"> 
									<input class="form-check-input" type="radio" name="options" id="1">
									<div class="icon-box">
										<span>A1</span>
									</div>
								</label>
								<label class="form-check form-check-inline"> 
									<input class="form-check-input" type="radio" name="options" id="1">
									<div class="icon-box">
										<span>A1</span>
									</div>
								</label>
								<label class="form-check form-check-inline"> 
									<input class="form-check-input" type="radio" name="options" id="1">
									<div class="icon-box">
										<span>A1</span>
									</div>
								</label>
								<label class="form-check form-check-inline"> 
									<input class="form-check-input" type="radio" name="options" id="1">
									<div class="icon-box">
										<span>A1</span>
									</div>
								</label>
								<label class="form-check form-check-inline"> 
									<input class="form-check-input" type="radio" name="options" id="1">
									<div class="icon-box">
										<span>A1</span>
									</div>
								</label>
								<label class="form-check form-check-inline"> 
									<input class="form-check-input" type="radio" name="options" id="1">
									<div class="icon-box">
										<span>A1</span>
									</div>
								</label>
								<label class="form-check form-check-inline"> 
									<input class="form-check-input" type="radio" name="options" id="1">
									<div class="icon-box">
										<span>A1</span>
									</div>
								</label>
								<label class="form-check form-check-inline"> 
									<input class="form-check-input" type="radio" name="options" id="1">
									<div class="icon-box">
										<span>A1</span>
									</div>
								</label>
								<label class="form-check form-check-inline"> 
									<input class="form-check-input" type="radio" name="options" id="1">
									<div class="icon-box">
										<span>A1</span>
									</div>
								</label>
								<label class="form-check form-check-inline"> 
									<input class="form-check-input" type="radio" name="options" id="1">
									<div class="icon-box">
										<span>A1</span>
									</div>
								</label>
								<label class="form-check form-check-inline"> 
									<input class="form-check-input" type="radio" name="options" id="1">
									<div class="icon-box">
										<span>A1</span>
									</div>
								</label>
								<label class="form-check form-check-inline"> 
									<input class="form-check-input" type="radio" name="options" id="1">
									<div class="icon-box">
										<span>A1</span>
									</div>
								</label>
								<label class="form-check form-check-inline"> 
									<input class="form-check-input" type="radio" name="options" id="1">
									<div class="icon-box">
										<span>A1</span>
									</div>
								</label>
								<label class="form-check form-check-inline"> 
									<input class="form-check-input" type="radio" name="options" id="1">
									<div class="icon-box">
										<span>A1</span>
									</div>
								</label>
								<label class="form-check form-check-inline"> 
									<input class="form-check-input" type="radio" name="options" id="1">
									<div class="icon-box">
										<span>A1</span>
									</div>
								</label>
								<label class="form-check form-check-inline"> 
									<input class="form-check-input" type="radio" name="options" id="1">
									<div class="icon-box">
										<span>A1</span>
									</div>
								</label>
								<label class="form-check form-check-inline"> 
									<input class="form-check-input" type="radio" name="options" id="1">
									<div class="icon-box">
										<span>A1</span>
									</div>
								</label>
								<label class="form-check form-check-inline"> 
									<input class="form-check-input" type="radio" name="options" id="1">
									<div class="icon-box">
										<span>A1</span>
									</div>
								</label>
								<label class="form-check form-check-inline"> 
									<input class="form-check-input" type="radio" name="options" id="1">
									<div class="icon-box">
										<span>A1</span>
									</div>
								</label>
							</div>
						</div>
					</div>
					<div class="khung col-sm-12 bodyA" style="height: 17rem; background-color: gray;">
						<div class="wrapper">
							<div class="movie_card">
								<div class="left">
									<div class="datails">
										<h3>Tên Phim</h3>
										<br>
										<div class="head">
											<p class="rated">Cinema 7</p>
											<p class="year">Ghế:</p>
											<p class="genre"></p>
											<p class="time"></p>
										</div>
										<br>
										<a class="read_more a" href="https://codewithbishal.com" target="_blank" title="Read More">CGV Hùng Vương Plaza</a>
										<p class="description"></p>
										<div class="buttons">
											<button class="button" title="Click to view trailer">
												<i>MÃ VÉ: </i> 
											</button>
											<button class="button" title="Download the trailer">
												<i>Khách Hàng: </i> 
											</button>
											<button class="button" title="Rating">
												<i>Discount:</i> 
											</button>
											<button class="button" title="Bookmark">
												<i>Tổng tiền:</i>  VND
											</button>
										</div>
									</div>
								</div>
								<div class="c_right">
									<img src="/assets/images/n1.jpg" alt="Movie IMG">
								</div>
							</div>
						</div>
					</div>
					<br>
				</div>
			</div>
		</section>
	</div>
	<!-- move top -->
	<button onclick="topFunction()" id="movetop" title="Go to top">
		<span class="fa fa-arrow-up" aria-hidden="true"></span>
	</button>

	<script>
		// When the user scrolls down 20px from the top of the document, show the button
		window.onscroll = function() {
			scrollFunction()
		};

		function scrollFunction() {
			if (document.body.scrollTop > 20
					|| document.documentElement.scrollTop > 20) {
				document.getElementById("movetop").style.display = "block";
			} else {
				document.getElementById("movetop").style.display = "none";
			}
		}

		// When the user clicks on the button, scroll to the top of the document
		function topFunction() {
			document.body.scrollTop = 0;
			document.documentElement.scrollTop = 0;
		}
	</script>
	<!-- /move top -->

</body>

</html>

