<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>ProShowz a Entertainment Category Bootstrap Responsive Website Template | Genre
        :: W3layouts</title>
        <!-- Template CSS -->
        <link rel="stylesheet" href="/assets/css/style-starter.css">
        <!-- Template CSS -->
        <link href="//fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap"
            rel="stylesheet">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link href="/assets/css/book_tickets.css"
            rel="stylesheet">
        <!-- Template CSS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    </head>
    <body>
        <section class="w3l-grids">
            <div class="grids-main py-5">
                <div class="container py-lg-3">
                    <div class="headerhny-title">
                        <div class="w3l-title-grids">
                            <div class="headerhny-left">
                                <h3 class="hny-title">New Releases</h3>
                            </div>
                            <div class="headerhny-right text-lg-right">
                                <h4><a class="show-title" href="genre.html">Show all</a></h4>
                            </div>
                        </div>
                    </div>
                   
                </div>
                <div class="panel panel-default  col-sm-10 offset-1">
                    <div class="panel-body">
                        <body onload="onLoaderFunc()">

                            <div class="seatStructure">
                            <center>
                              
                            <table id="seatsBlock">
                             <p id="notification"></p>
                              <tr>
                                <td colspan="14"><div class="screen">SCREEN</div></td>
                                <td rowspan="20">
                                  <div class="smallBox greenBox">Selected Seat</div> <br/>
                                  <div class="smallBox redBox">Reserved Seat</div><br/>
                                  <div class="smallBox emptyBox">Empty Seat</div><br/>
                                </td>
                                
                                <br/>
                              </tr>
                              
                              <tr>
                                <td></td>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td></td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td>10</td>
                                <td>11</td>
                                <td>12</td>
                            </tr>
                              
                            <tr>
                                <td>A</td>
                                <td><input type="checkbox"   class="seatss" value="A1"></td>
                                <td><input type="checkbox"   class="seatss" value="A2"></td>
                                <td><input type="checkbox" class="seatss" value="A3"></td>
                                <td><input type="checkbox" class="seatss" value="A4"></td>
                                <td><input type="checkbox" class="seatss" value="A5"></td>
                                <td class="seatGap"></td>
                                <td><input type="checkbox" class="seatss" value="A6"></td>
                                <td><input type="checkbox" class="seatss" value="A7"></td>
                                <td><input type="checkbox" class="seatss" value="A8"></td>
                                <td><input type="checkbox" class="seatss" value="A9"></td>
                                <td><input type="checkbox" class="seatss" value="A10"></td>
                                <td><input type="checkbox" class="seatss" value="A11"></td>
                                <td><input type="checkbox" class="seatss" value="A12"></td>
                              </tr>
                              
                              <tr>
                                <td>B</td>
                                <td><input type="checkbox" class="seatss" value="B1"></td>
                                <td><input type="checkbox" class="seatss" value="B2"></td>
                                <td><input type="checkbox" class="seatss" value="B3"></td>
                                <td><input type="checkbox" class="seatss" value="B4"></td>
                                <td><input type="checkbox" class="seatss" value="B5"></td>
                                <td></td>
                                <td><input type="checkbox" class="seatss" value="B6"></td>
                                <td><input type="checkbox" class="seatss" value="B7"></td>
                                <td><input type="checkbox" class="seatss" value="B8"></td>
                                <td><input type="checkbox" class="seatss" value="B9"></td>
                                <td><input type="checkbox" class="seatss" value="B10"></td>
                                <td><input type="checkbox" class="seatss" value="B11"></td>
                                <td><input type="checkbox" class="seatss" value="B12"></td>
                              </tr>
                              
                              <tr>
                                <td>C</td>
                                <td><input type="checkbox" class="seatss" value="C1"></td>
                                <td><input type="checkbox" class="seatss" value="C2"></td>
                                <td><input type="checkbox" class="seatss" value="C3"></td>
                                <td><input type="checkbox" class="seatss" value="C4"></td>
                                <td><input type="checkbox" class="seatss" value="C5"></td>
                                <td></td>
                                <td><input type="checkbox" class="seatss" value="C6"></td>
                                <td><input type="checkbox" class="seatss" value="C7"></td>
                                <td><input type="checkbox" class="seatss" value="C8"></td>
                                <td><input type="checkbox" class="seatss" value="C9"></td>
                                <td><input type="checkbox" class="seatss" value="C10"></td>
                                <td><input type="checkbox" class="seatss" value="C11"></td>
                                <td><input type="checkbox" class="seatss" value="C12"></td>
                            </tr>
                              
                            <tr>
                                <td>D</td>
                                <td><input type="checkbox" class="seatss" value="D1"></td>
                                <td><input type="checkbox" class="seatss" value="D2"></td>
                                <td><input type="checkbox" class="seatss" value="D3"></td>
                                <td><input type="checkbox" class="seatss" value="D4"></td>
                                <td><input type="checkbox" class="seatss" value="D5"></td>
                                <td></td>
                                <td><input type="checkbox" class="seatss" value="D6"></td>
                                <td><input type="checkbox" class="seatss" value="D7"></td>
                                <td><input type="checkbox" class="seatss" value="D8"></td>
                                <td><input type="checkbox" class="seatss" value="D9"></td>
                                <td><input type="checkbox" class="seatss" value="D10"></td>
                                <td><input type="checkbox" class="seatss" value="D11"></td>
                                <td><input type="checkbox" class="seatss" value="D12"></td>
                            </tr>
                              
                            <tr>
                                <td>E</td>
                                <td><input type="checkbox" class="seatss" value="E1"></td>
                                <td><input type="checkbox" class="seatss" value="E2"></td>
                                <td><input type="checkbox" class="seatss" value="E3"></td>
                                <td><input type="checkbox" class="seatss" value="E4"></td>
                                <td><input type="checkbox" class="seatss" value="E5"></td>
                                <td></td>
                                <td><input type="checkbox" class="seatss" value="E6"></td>
                                <td><input type="checkbox" class="seatss" value="E7"></td>
                                <td><input type="checkbox" class="seatss" value="E8"></td>
                                <td><input type="checkbox" class="seatss" value="E9"></td>
                                <td><input type="checkbox" class="seatss" value="E10"></td>
                                <td><input type="checkbox" class="seatss" value="E11"></td>
                                <td><input type="checkbox" class="seatss" value="E12"></td>
                            </tr>
                              
                            <tr class="seatVGap"></tr>
                              
                            <tr>
                                <td>F</td>
                                <td><input type="checkbox" class="seatss" value="F1"></td>
                                <td><input type="checkbox" class="seatss" value="F2"></td>
                                <td><input type="checkbox" class="seatss" value="F3"></td>
                                <td><input type="checkbox" class="seatss" value="F4"></td>
                                <td><input type="checkbox" class="seatss" value="F5"></td>
                                <td></td>
                                <td><input type="checkbox" class="seatss" value="F6"></td>
                                <td><input type="checkbox" class="seatss" value="F7"></td>
                                <td><input type="checkbox" class="seatss" value="F8"></td>
                                <td><input type="checkbox" class="seatss" value="F9"></td>
                                <td><input type="checkbox" class="seatss" value="F10"></td>
                                <td><input type="checkbox" class="seatss" value="F11"></td>
                                <td><input type="checkbox" class="seatss" value="F12"></td>
                            </tr>
                              
                            <tr>
                                <td>G</td>
                                <td><input type="checkbox" class="seatss" value="G1"></td>
                                <td><input type="checkbox" class="seatss" value="G2"></td>
                                <td><input type="checkbox" class="seatss" value="G3"></td>
                                <td><input type="checkbox" class="seatss" value="G4"></td>
                                <td><input type="checkbox" class="seatss" value="G5"></td>
                                <td></td>
                                <td><input type="checkbox" class="seatss" value="G6"></td>
                                <td><input type="checkbox" class="seatss" value="G7"></td>
                                <td><input type="checkbox" class="seatss" value="G8"></td>
                                <td><input type="checkbox" class="seatss" value="G9"></td>
                                <td><input type="checkbox" class="seatss" value="G10"></td>
                                <td><input type="checkbox" class="seatss" value="G11"></td>
                                <td><input type="checkbox" class="seatss" value="G12"></td>
                            </tr>
                              
                            <tr>
                                <td>H</td>
                                <td><input type="checkbox" class="seatss" value="H1"></td>
                                <td><input type="checkbox" class="seatss" value="H2"></td>
                                <td><input type="checkbox" class="seatss" value="H3"></td>
                                <td><input type="checkbox" class="seatss" value="H4"></td>
                                <td><input type="checkbox" class="seatss" value="H5"></td>
                                <td></td>
                                <td><input type="checkbox" class="seatss" value="H6"></td>
                                <td><input type="checkbox" class="seatss" value="H7"></td>
                                <td><input type="checkbox" class="seatss" value="H8"></td>
                                <td><input type="checkbox" class="seatss" value="H9"></td>
                                <td><input type="checkbox" class="seatss" value="H10"></td>
                                <td><input type="checkbox" class="seatss" value="H11"></td>
                                <td><input type="checkbox" class="seatss" value="H12"></td>
                            </tr>
                              
                            <tr>
                                <td>I</td>
                                <td><input type="checkbox" class="seatss" value="I1"></td>
                                <td><input type="checkbox" class="seatss" value="I2"></td>
                                <td><input type="checkbox" class="seatss" value="I3"></td>
                                <td><input type="checkbox" class="seatss" value="I4"></td>
                                <td><input type="checkbox" class="seatss" value="I5"></td>
                                <td></td>
                                <td><input type="checkbox" class="seatss" value="I6"></td>
                                <td><input type="checkbox" class="seatss" value="I7"></td>
                                <td><input type="checkbox" class="seatss" value="I8"></td>
                                <td><input type="checkbox" class="seatss" value="I9"></td>
                                <td><input type="checkbox" class="seatss" value="I10"></td>
                                <td><input type="checkbox" class="seatss" value="I11"></td>
                                <td><input type="checkbox" class="seatss" value="I12"></td>
                            </tr>
                              
                            <tr>
                                <td>J</td>
                                <td><input type="checkbox" class="seatss" value="J1"></td>
                                <td><input type="checkbox" class="seatss" value="J2"></td>
                                <td><input type="checkbox" class="seatss" value="J3"></td>
                                <td><input type="checkbox" class="seatss" value="J4"></td>
                                <td><input type="checkbox" class="seatss" value="J5"></td>
                                <td></td>
                                <td><input type="checkbox" class="seatss" value="J6"></td>
                                <td><input type="checkbox" class="seatss" value="J7"></td>
                                <td><input type="checkbox" class="seatss" value="J8"></td>
                                <td><input type="checkbox" class="seatss" value="J9"></td>
                                <td><input type="checkbox" class="seatss" value="J10"></td>
                                <td><input type="checkbox" class="seatss" value="J11"></td>
                                <td><input type="checkbox" class="seatss" value="J12"></td>
                            </tr>
                              
                              
                            </table>
                              
                            <br/><button onclick="updateTextArea()">Confirm Selection</button>
                            </center>
                            </div>
                                  
                            <br/><br/>
                            
                            <div class="displayerBoxes">
                            <center>
                              <table class="Displaytable">
                              <tr>
                                <th>Name</th>
                                <th>Number of Seats</th>
                                <th>Seats</th>
                              </tr>
                              <tr>
                                <td><textarea id="nameDisplay"></textarea></td>
                                <td><textarea id="NumberDisplay"></textarea></td>
                                <td><textarea id="seatsDisplay"></textarea></td>
                              </tr>
                            </table>
                            <br>
                            <span type="button" class="btn btn-outline-primary" onclick="nextdoan()"  id="nextdoan" value="">Next</span>
                            <div class="col-sm-12" style="height: 1rem;"></div>
                            </center>
                            </div>                            
                    </div>
    
                                              <!-- <div class="displayerBoxes"> -->
                                 
                                                <div  class=" khung col-sm-12" style="height: 15rem; background-color: gray;">
                                                    <div class="row">
                                                        <div class="col-sm-1">		
                                                            <div class="col-sm-12" style="height: 3.75rem;"></div>
                                                            <button  disabled class="btn btn-default btn-link col-sm-12"  style="width: 100%; height: 6.25rem;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
                                                                <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                                                                <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                                                              </svg><br><b style="max-width: 100%; font-size: 13px;">Prev</b></button>
                                                            <div class="col-sm-12" style="height: 30%;"></div>
                                                </div>
                                                <div class=" khung1 col-sm-1">		
                                                    <div class="col-sm-12" style="height: 40px;"></div>
                                                    <img  src="assets/images/macbiec.jpg"  style="width: 5rem"  alt="">
                                                </div>
                                                <div class="khung2 col-sm-1">		
                                                <div class="  col-sm-12" style="height: 2.5rem;"></div>
                                                <b style="color: white">Mắt Biếc</b>
                                                </div>
                                                <div class="khung3 col-sm-4" style="height: 15rem;">		
                                                <div class="col-sm-12" style="height: 0.625rem;"></div>
                                                <div class="col-sm-12" style="height: 14.9rem;">
                                                    <table class="table table-bordered" style="text-align: left; color: whitesmoke; font-size: 0.9375rem;">
                                                    <tr style="height: 3rem;">
                                                        <th style="height: 0.5rem;"><b>Rạp</b></th>
                                                        <th><b>CGV Vincom Cẩm Phả</b></th>
                                                    </tr>
                                                    <tr  style="height: 3rem;">
                                                        <th>Suất chiếu</th>
                                                        <th>17:05, 28/09/2021</th>
                                                    </tr>
                                                    <tr  style="height: 3rem;">
                                                        <th>Phòng chiếu</th>
                                                        <th><b>Cinama 3</b></th>
                                                    </tr>
                                                    <tr  style="height: 5rem;"> 
                                                        <th>Ghế</th>
                                                        <th style="color: whitesmoke;">
                                                        <b style="font-size: 12px"><p  id="cate_chair"></p>
                                                            <p style="color: whitesmoke; height: 100%;" readonly id="chair_id"></p></b>
                                                        </th>
                                                    </tr>
                                                </table></div>
                                                <div class="col-sm-12" style="height: 2%"></div>
                                                </div>
                                                
                                                
                                                <div class="khung4 col-sm-4">	
                                                <table style="color: whitesmoke; text-align: left;font-size: 17px;" >
                                                <tr> 
                                                    <th style="background-color: none;">Phim: </th>
                                                    <th style="background-color: none;"> <b><input disabled style="background-color: gray; color: white; font-weight: bold ;border: none;text-align: right; " readonly id="giaphim" value="60000"></span></b> </th>
                                                </tr>
                                                <tr>
                                                    <th>Combo: </th>
                                                    <th style="background-color: none;"> <b><input disabled style="background-color: gray; color: white; font-weight: bold ;border: none;text-align: right; "  id="giacombo" value="0"></span></b></th>
                                                </tr>
                                                <tr>
                                                    <th>Tổng: </th>
                                                    <th style="text-align: right;"><b><span id="tongtien">0</span> đ<br></b></th>
                                                </tr>
                                                </table>
                                                </div>
                                                <!-- <div class="khung5 col-sm-2">		
                                                <div class="col-sm-12" style="height: 15rem;">
                                                <h6 style="color: white; min-height: 2rem;">COMBO ĐÃ CHỌN</h6>
                                                <b style="color: white"><span><textarea value="" disabled style="background: none; color: white;font-weight: bold ;border: none; height: 12rem;" readonly id="combotitle" ></textarea></span> </b>
                                                </div>
                                                </div> -->
                                                <div class="khung6 col-sm-1">		
                                                <div class="col-sm-12" style="height: 3.75rem;"></div>
                                                <button onclick="next()"  class="btn btn-default btn-link col-sm-12" style="height: 6.25rem;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                                                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
                                                </svg><br><b style="max-width: 100%; font-size: 13px;">Next</b></button>
                                                <div class="col-sm-12" style="height: 30%;"></div>
                                                </div>
                                                </div>
                                                                                 </div>
                                                                     </div>
                                                     
                                                                   </div>
                                                             </div>
                                                            </div>
                                                         </section>
                                                         <footer class="w3l-footer">
                                                            <section class="footer-inner-main">
                                                                <div class="footer-hny-grids py-5">
                                                                    <div class="container py-lg-4">
                                                                        <div class="text-txt">
                                                                            <div class="right-side">
                                                                                <div class="row footer-about">
                                                                                    <div class="col-md-3 col-6 footer-img mb-lg-0 mb-4">
                                                                                        <a href="genre.html"><img class="img-fluid" src="assets/images/banner1.jpg"
                                                                                                alt=""></a>
                                                                                    </div>
                                                                                    <div class="col-md-3 col-6 footer-img mb-lg-0 mb-4">
                                                                                        <a href="genre.html"><img class="img-fluid" src="assets/images/banner2.jpg"
                                                                                                alt=""></a>
                                                                                    </div>
                                                                                    <div class="col-md-3 col-6 footer-img mb-lg-0 mb-4">
                                                                                        <a href="genre.html"><img class="img-fluid" src="assets/images/banner3.jpg"
                                                                                                alt=""></a>
                                                                                    </div>
                                                                                    <div class="col-md-3 col-6 footer-img mb-lg-0 mb-4">
                                                                                        <a href="genre.html"><img class="img-fluid" src="assets/images/banner4.jpg"
                                                                                                alt=""></a>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row footer-links">
                                                    
                                                    
                                                                                    <div class="col-md-3 col-sm-6 sub-two-right mt-5">
                                                                                        <h6>Movies</h6>
                                                                                        <ul>
                                                                                            <li><a href="#">Movies</a></li>
                                                                                            <li><a href="#">Videos</a></li>
                                                                                            <li><a href="#">English Movies</a></li>
                                                                                            <li><a href="#">Tailor</a></li>
                                                                                            <li><a href="#">Upcoming Movies</a></li>
                                                                                            <li><a href="contact.html">Contact Us</a></li>
                                                                                        </ul>
                                                                                    </div>
                                                                                    <div class="col-md-3 col-sm-6 sub-two-right mt-5">
                                                                                        <h6>Information</h6>
                                                                                        <ul>
                                                                                            <li><a href="index.html">Home</a> </li>
                                                                                            <li><a href="about.html">About</a> </li>
                                                                                            <li><a href="#">Tv Series</a> </li>
                                                                                            <li><a href="#">Blogs</a> </li>
                                                                                            <li><a href="#">Login</a></li>
                                                                                            <li><a href="contact.html">Contact</a></li>
                                                                                        </ul>
                                                                                    </div>
                                                                                    <div class="col-md-3 col-sm-6 sub-two-right mt-5">
                                                                                        <h6>Locations</h6>
                                                                                        <ul>
                                                                                            <li><a href="genre.html">Asia</a></li>
                                                                                            <li><a href="genre.html">France</a></li>
                                                                                            <li><a href="genre.html">Taiwan</a></li>
                                                                                            <li><a href="genre.html">United States</a></li>
                                                                                            <li><a href="genre.html">Korea</a></li>
                                                                                            <li><a href="genre.html">United Kingdom</a></li>
                                                                                        </ul>
                                                                                    </div>
                                                                                    <div class="col-md-3 col-sm-6 sub-two-right mt-5">
                                                                                        <h6>Newsletter</h6>
                                                                                        <form action="#" class="subscribe mb-3" method="post">
                                                                                            <input type="email" name="email" placeholder="Your Email Address" required="">
                                                                                            <button><span class="fa fa-envelope-o"></span></button>
                                                                                        </form>
                                                                                        <p>Enter your email and receive the latest news, updates and special offers from us.
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                </div>
                                                                <div class="below-section">
                                                                    <div class="container">
                                                                        <div class="copyright-footer">
                                                                            <div class="columns text-lg-left">
                                                                                <p>&copy; 2020 ProShowz. All rights reserved | Designed by <a
                                                                                        href="https://w3layouts.com">W3layouts</a></p>
                                                                            </div>
                                                    
                                                                            <ul class="social text-lg-right">
                                                                                <li><a href="#facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                                                                                </li>
                                                                                <li><a href="#linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
                                                                                </li>
                                                                                <li><a href="#twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                                                                                </li>
                                                                                <li><a href="#google"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                                                                                </li>
                                                    
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- copyright -->
                                                                <!-- move top -->
                                                                <button onclick="topFunction()" id="movetop" title="Go to top">
                                                                    <span class="fa fa-arrow-up" aria-hidden="true"></span>
                                                                </button>
                                                                <script>
                                                                    // When the user scrolls down 20px from the top of the document, show the button
                                                                    window.onscroll = function () {
                                                                        scrollFunction()
                                                                    };
                                                    
                                                                    function scrollFunction() {
                                                                        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                                                                            document.getElementById("movetop").style.display = "block";
                                                                        } else {
                                                                            document.getElementById("movetop").style.display = "none";
                                                                        }
                                                                    }
                                                    
                                                                    // When the user clicks on the button, scroll to the top of the document
                                                                    function topFunction() {
                                                                        document.body.scrollTop = 0;
                                                                        document.documentElement.scrollTop = 0;
                                                                    }
                                                                </script>
                                                                <!-- /move top -->
                                                    
                                                            </section>
                                                        </footer>
</body>
	<script src="/assets/js/jquery-1.9.1.min.js"></script>
<script src="/assets/js/easyResponsiveTabs.js"></script>
<script src="/assets/js/theme-change.js"></script>
<script src="/assets/js/owl.carousel.js"></script>
<script src="/assets/js/slider.js"></script>
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/book_tickets.js"></script>
</html>
<!-- responsive tabs -->

