<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/layout.html :: dynamic(~{::body})}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Đặt đồ ăn</title>
<body>
	<div class="form-checkout">
		<section class="w3l-grids">
			<br>
			<div class="grids-main">
				<div class="container col-sm-12"
					style="background-color: black; height: 3rem; text-align: center;">
					<div style="height: 5px;"></div>
					<h4 style="color: white">BẮP NƯỚC</h4>
				</div>
			</div>
			<br>
			<div class="panel panel-default col-sm-10 offset-1 food-margin">
				<div class="panel-body">
					<div class="row body">
						<div class="col-sm-6" style="background-color: #fff;">
							<div class="col-sm-12 row">
								<img class="col-sm-5"
									src="/assets/images/5feaf0f73864d_1609232631.png" alt="">
								<div class="col sm-7">
									<b>CGV SNACK COMBO</b><br>
									<p>1 Bắp Lớn + 2 Nước Lớn + 1 Snack</p>
									<p>* Miễn phí đổi vị bắp Caramel * **Đổi vị phô mai phụ thu
										thêm tiền**</p>
									<p>
										Giá: <b>109.000 VND</b>
									</p>
									<button class="btn btn-primary" style="font-size: 11px;"
										onclick="giamsl('i1',109000)">-</button>
									<input class="col-sm-4" id="i1" name="soluong" value="0"
										type="number" min=0 max=99 readonly>
									<button class="btn btn-primary" style="font-size: 11px;"
										onclick="tangsl('i1',109000)">+</button>
								</div>
							</div>
						</div>
						<div class="col-sm-6" style="background-color: #fff;">
							<div class="col-sm-12 row">
								<img class="col-sm-5"
									src="/assets/images/5feaf0f73864d_1609232631.png" alt="">
								<div class="col sm-7">
									<b>CGV SNACK COMBO</b><br>
									<p>1 Bắp Lớn + 2 Nước Lớn + 1 Snack</p>
									<p>* Miễn phí đổi vị bắp Caramel * **Đổi vị phô mai phụ thu
										thêm tiền**</p>
									<p>
										Giá: <b>109.000 VND</b>
									</p>
									<button class="btn btn-primary" style="font-size: 11px;"
										onclick="giamsl('i1',109000)">-</button>
									<input class="col-sm-4" id="i1" name="soluong" value="0"
										type="number" min=0 max=99 readonly>
									<button class="btn btn-primary" style="font-size: 11px;"
										onclick="tangsl('i1',109000)">+</button>
								</div>
							</div>
						</div>
						<div class="col-sm-6" style="background-color: #fff;">
							<div class="col-sm-12 row">
								<img class="col-sm-5"
									src="/assets/images/5feaf0f73864d_1609232631.png" alt="">
								<div class="col sm-7">
									<b>CGV SNACK COMBO</b><br>
									<p>1 Bắp Lớn + 2 Nước Lớn + 1 Snack</p>
									<p>* Miễn phí đổi vị bắp Caramel * **Đổi vị phô mai phụ thu
										thêm tiền**</p>
									<p>
										Giá: <b>109.000 VND</b>
									</p>
									<button class="btn btn-primary" style="font-size: 11px;"
										onclick="giamsl('i1',109000)">-</button>
									<input class="col-sm-4" id="i1" name="soluong" value="0"
										type="number" min=0 max=99 readonly>
									<button class="btn btn-primary" style="font-size: 11px;"
										onclick="tangsl('i1',109000)">+</button>
								</div>
							</div>
						</div>
					</div>
					<div class="khung col-sm-12 bodyA"
						style="height: 17rem; background-color: #fff;">
						<div class="wrapper">
							<div class="movie_card">
								<div class="left">
									<div class="datails">
										<h3>Tên Phim</h3>
										<br>
										<div class="head">
											<p class="rated">Cinema 7</p>
											<p class="year">Ghế:</p>
											<p class="genre"></p>
											<p class="time"></p>
										</div>
										<br> <a class="read_more a"
											href="https://codewithbishal.com" target="_blank"
											title="Read More">CGV Hùng Vương Plaza</a>
										<p class="description"></p>
										<div class="buttons">
											<button class="button" title="Click to view trailer">
												<i>MÃ VÉ: </i>
											</button>
											<button class="button" title="Download the trailer">
												<i>Khách Hàng: </i>
											</button>
											<button class="button" title="Rating">
												<i>Discount:</i>
											</button>
											<button class="button" title="Bookmark">
												<i>Tổng tiền:</i> VND
											</button>
										</div>
									</div>
								</div>
								<div class="c_right">
									<img src="/assets/images/n1.jpg" alt="Movie IMG">
								</div>
							</div>
						</div>
					</div>
					<br>
				</div>
			</div>
		</section>
	</div>
</body>

</html>