<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>ProShowz a Entertainment Category Bootstrap Responsive Website Template | Genre
        :: W3layouts</title>
        <!-- Template CSS -->
        <link rel="stylesheet" href="/assets/css/style-starter.css">
        <!-- Template CSS -->
        <link href="//fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap"
            rel="stylesheet">
            <link href="/assets/css/book_tickets.css"
            rel="stylesheet">
        <!-- Template CSS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    </head>
    </script>
    <body>
        <!-- header -->
        <header id="site-header" class="w3l-header fixed-top">
            <!--/nav-->
            <nav class="navbar navbar-expand-lg navbar-light fill px-lg-0 py-0 px-3">
                <div class="container">
                    <h1><a class="navbar-brand" href="index.html"><span class="fa fa-play icon-log"
                                aria-hidden="true"></span>
                            ProShowz </a></h1>
                    <!-- if logo is image enable this   
                                <a class="navbar-brand" href="#index.html">
                                    <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                                </a> -->
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <!-- <span class="navbar-toggler-icon"></span> -->
                        <span class="fa icon-expand fa-bars"></span>
                        <span class="fa icon-close fa-times"></span>
                    </button>
    
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="about.html">About</a>
                            </li>
            <li class="nav-item active">
                                    <a class="nav-link" href="genre.html">Genre</a>
                                </li>
    
                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">Contact</a>
                            </li>
                        </ul>
    
                        <!--/search-right-->
                        <!--/search-right-->
                        <div class="search-right">
                            <a href="#search" class="btn search-hny mr-lg-3 mt-lg-0 mt-4" title="search">Search <span
                                    class="fa fa-search ml-3" aria-hidden="true"></span></a>
                            <!-- search popup -->
                            <div id="search" class="pop-overlay">
                                <div class="popup">
                                    <form action="#" method="post" class="search-box">
                                        <input type="search" placeholder="Search your Keyword" name="search"
                                            required="required" autofocus="">
                                        <button type="submit" class="btn"><span class="fa fa-search"
                                                aria-hidden="true"></span></button>
                                    </form>
                                    <div class="browse-items">
                                        <h3 class="hny-title two mt-md-5 mt-4">Browse all:</h3>
                                        <ul class="search-items">
                                            <li><a href="genre.html">Action</a></li>
                                            <li><a href="genre.html">Drama</a></li>
                                            <li><a href="genre.html">Family</a></li>
                                            <li><a href="genre.html">Thriller</a></li>
                                            <li><a href="genre.html">Commedy</a></li>
                                            <li><a href="genre.html">Romantic</a></li>
                                            <li><a href="genre.html">Tv-Series</a></li>
                                            <li><a href="genre.html">Horror</a></li>
                                            <li><a href="genre.html">Action</a></li>
                                            <li><a href="genre.html">Drama</a></li>
                                            <li><a href="genre.html">Family</a></li>
                                            <li><a href="genre.html">Thriller</a></li>
                                            <li><a href="genre.html">Commedy</a></li>
                                            <li><a href="genre.html">Romantic</a></li>
                                            <li><a href="genre.html">Tv-Series</a></li>
                                            <li><a href="genre.html">Horror</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <a class="close" href="#close">×</a>
                            </div>
                            <!-- /search popup -->
                            <!--/search-right-->
                        </div>
    
    
                    </div>
                    <!-- toggle switch for light and dark theme -->
                    <div class="mobile-position">
                        <nav class="navigation">
                            <div class="theme-switch-wrapper">
                                <label class="theme-switch" for="checkbox">
                                    <input type="checkbox" id="checkbox">
                                    <div class="mode-container">
                                        <i class="gg-sun"></i>
                                        <i class="gg-moon"></i>
                                    </div>
                                </label>
                            </div>
                        </nav>
                    </div>
                    <!-- //toggle switch for light and dark theme -->
                </div>
            </nav>
            <!--//nav-->
        </header>
        <section class="w3l-grids">
            <div class="grids-main py-5">
                <div class="container py-lg-3">
                    <div class="headerhny-title">
                        <div class="w3l-title-grids">
                            <div class="headerhny-left">
                                <h3 class="hny-title" style="font-size: 22px;">Chọn đồ ăn</h3>
                            </div>
                            <div class="headerhny-right text-lg-right">
                                <h4><a class="show-title" href="genre.html">Show all</a></h4>
                            </div>
                        </div>
                    </div>
                   
                </div>
                <div class="panel panel-default  col-sm-10 offset-1">
                    <div class="panel-body">
                        <body>

                         <div class="col-sm-12 row" >
                          <div class="col-sm-12 row" style="background-color: white;">
                            <div class="col-sm-6" style="background-color: #fff;">
                                <div class="col-sm-12 row">
                                    <img class="col-sm-5" src="/assets/images/5feaf0f73864d_1609232631.png" alt="">
                                    <div class="col sm-7"><b>CGV SNACK COMBO</b><br>
									<p>1 Bắp Lớn + 2 Nước Lớn + 1 Snack</p>
									<p>* Miễn phí đổi vị bắp Caramel *
										**Đổi vị phô mai phụ thu thêm tiền**</p>
									<p>Giá: <b>109.000 VND</b></p>
									<button class="btn btn-primary" style="font-size: 11px;"  onclick="giamsl('i1',109000)">-</button>
                                    <input class="col-sm-4" id="i1" name="soluong" value="0" type="number" min=0 max=99 readonly>
                                    <button class="btn btn-primary" style="font-size: 11px;" onclick="tangsl('i1',109000)">+</button>
                                </div>
                                </div>
                            </div>

							<div class="col-sm-6" style="background-color: #fff;">
                                <div class="col-sm-12 row">
                                    <img class="col-sm-5" src="/assets/images/5feaef2030d87_1609232160.png" alt="">
                                    <div class="col sm-7"><b>MY COMBO</b><br>
									<p>1 bắp vừa + 1 nước siêu lớn. Nhận trong ngày xem phim</p>
									<p>* Miễn phí đổi vị bắp Caramel *
										**Đổi vị phô mai phụ thu thêm tiền**</p>
									<p>Giá: <b>79.000 VND</b></p>
									<button class="btn btn-primary" style="font-size: 11px;"  onclick="giamsl('i2',79000)">-</button>
                                    <input class="col-sm-4" id="i2" name="soluong" value="0" type="number" min=0 max=99 readonly>
                                    <button class="btn btn-primary" style="font-size: 11px;" onclick="tangsl('i2',79000)">+</button>
                                </div>
                                </div>
                            </div>

							<div class="col-sm-6" style="background-color: #fff;">
                                <div class="col-sm-12 row">
                                    <img class="col-sm-5" src="/assets/images/5feaef972b5c2_1609232279.png" alt="">
                                    <div class="col sm-7"><b>CGV COMBO</b><br>
									<p>1 bắp lớn + 2 nước lớn. Nhận trong ngày xem phim.</p>
									<p>* Miễn phí đổi vị bắp Caramel *
										**Đổi vị phô mai phụ thu thêm tiền**</p>
									<p>Giá: <b>99.000 VND</b></p>
									<button class="btn btn-primary" style="font-size: 11px;"  onclick="giamsl('i3',99000)">-</button>
                                    <input class="col-sm-4" id="i3" name="soluong" value="0" type="number" min=0 max=99 readonly>
                                    <button class="btn btn-primary" style="font-size: 11px;" onclick="tangsl('i3',99000)">+</button>
                                </div>
                                </div>
                            </div>

							<div class="col-sm-6" style="background-color: #fff;">
                                <div class="col-sm-12 row">
                                    <img class="col-sm-5" src="/assets/images/5ecde3c8ec473_1590551497.png" alt="">
                                    <div class="col sm-7"><b>SHIN-CHAN COMBO</b><br>
									<p>1 ly Shin-chan kèm nước + 1 bắp ngọt lớn</p>
									<p>* Miễn phí đổi vị bắp Caramel *
										**Đổi vị phô mai phụ thu thêm tiền**</p>
									<p>Giá: <b>179.000 VND</b></p>
									<button class="btn btn-primary" style="font-size: 11px;"  onclick="giamsl('i4',179000)">-</button>
                                    <input class="col-sm-4" id="i4" name="soluong" value="0" type="number" min=0 max=99 readonly>
                                    <button class="btn btn-primary" style="font-size: 11px;" onclick="tangsl('i4',179000)">+</button>
                                </div>
                                </div>
                            </div>

							<div class="col-sm-6" style="background-color: #fff;">
                                <div class="col-sm-12 row">
                                    <img class="col-sm-5" src="/assets/images/606c3c0ddf9f4_1617705998.png" alt="">
                                    <div class="col sm-7"><b>MILO COMBO 2021</b><br>
									<p>MILO COMBO 20211 bắp Caramel lớn + 1 Milo hộp giấy + 1 nước ngọt</p>
									<p>* Miễn phí đổi vị bắp Phô mai *
										**Nhận trong ngày xem phim**</p>
									<p>Giá: <b>99.000 VND</b></p>
									<button class="btn btn-primary" style="font-size: 11px;"  onclick="giamsl('i5',99000)">-</button>
                                    <input class="col-sm-4" id="i5" name="soluong" value="0" type="number" min=0 max=99 readonly>
                                    <button class="btn btn-primary" style="font-size: 11px;" onclick="tangsl('i5',99000)">+</button>
                                </div>
                                </div>
                            </div>
                           
                            <br/><br/>
                            
                            <!-- <div class="displayerBoxes"> -->
								
								<div class="col-sm-12 row" style="height: 15rem; background-color: gray;">
									<div class="col-sm-1">		
											<div class="col-sm-12" style="height: 3.75rem;"></div>
											<button  class="btn btn-default btn-link col-sm-12" onclick="prev()"  style="width: 100%; height: 6.25rem;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
												<path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
												<path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
											  </svg><br><b style="max-width: 100%; font-size: 13px;">Prev</b></button>
											<div class="col-sm-12" style="height: 30%;"></div>
								</div>
								<div class="col-sm-1">		
									<div class="col-sm-12" style="height: 40px;"></div>
									<img  src="/assets/images/macbiec.jpg"  width="120%"  alt="">
						</div>
						<div class="col-sm-1">		
							<div class="col-sm-12" style="height: 2.5rem;"></div>
							<b style="color: white">Mắc Biếc</b>
				</div>
								<div class="col-sm-4" style="height: 15rem;">		
								<div class="col-sm-12" style="height: 0.625rem;"></div>
								<div class="col-sm-12" style="height: 14.9rem;">
									<table class="table table-bordered" style="text-align: left; color: whitesmoke; font-size: 0.9375rem;">
									<tr style="height: 3rem;">
										<th style="height: 0.5rem;"><b>Rạp</b></th>
										<th><b>CGV Vincom Cẩm Phả</b></th>
									</tr>
									<tr  style="height: 3rem;">
										<th>Suất chiếu</th>
										<th>17:05, 28/09/2021</th>
									</tr>
									<tr  style="height: 3rem;">
										<th>Phòng chiếu</th>
										<th><b>Cinama 3</b></th>
									</tr>
									<tr  style="height: 5rem;"> 
										<th>Ghế</th>
										<th style="color: whitesmoke;">
										<b style="font-size: 12px"><p  id="cate_chair"></p>
											<p style="color: whitesmoke; height: 100%;" readonly id="chair_id"></p></b>
										</th>
									</tr>
								</table></div>
								<div class="col-sm-12" style="height: 2%"></div>
						</div>
						

						<div class="col-sm-4">	
							<table style="color: whitesmoke; text-align: left;" >
								<tr>
									<th>Tên phim: </th>
									<th style="text-align: right;"> <b><input disabled style="background-color: gray; color: white; font-weight: bold ;border: none; text-align: right;" readonly id="giaphim" value="60000">VNĐ</span></b> </th>
								</tr>
								<tr>
									<th>Combo: </th>
									<th  style="text-align: right;"><b><input disabled style="background-color: gray; color: white;font-weight: bold ;border: none;" readonly id="giacombo" value="0"></span> VNĐ</b></th>
								</tr>
								<tr>
									<th>Tổng: </th>
									<th  style="text-align: right;"><b><span id="tongtien"></span> <br>VNĐ</b></th>
								</tr>
							</table>
				</div>
				<!-- <div class="col-sm-2">		
					<div class="col-sm-12" style="height: 15rem;">
						<h5 style="color: white; min-height: 2rem;">COMBO ĐÃ CHỌN</h5>
						<b style="color: white"><span><textarea value="" disabled style="background-color: gray; color: white;font-weight: bold ;border: none; height: 12rem;" readonly id="combotitle" ></textarea></span> </b>
					</div>
		</div> -->
		<div class="col-sm-1">		
			<div class="col-sm-12" style="height: 3.75rem;"></div>
			<button onclick="next()"  class="btn btn-default btn-link col-sm-12" style="height: 6.25rem;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
				<path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
				<path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
			  </svg><br><b style="max-width: 100%; font-size: 13px;">Next</b></button>
			<div class="col-sm-12" style="height: 30%;"></div>
</div>
								</div>
                    </div>
    
                  </div>
            </div>
        </section>
	<footer class="w3l-footer">
		<section class="footer-inner-main">
			<div class="footer-hny-grids py-5">
				<div class="container py-lg-4">
					<div class="text-txt">
						<div class="right-side">
							<div class="row footer-about">
								<div class="col-md-3 col-6 footer-img mb-lg-0 mb-4">
									<a href="genre.html"><img class="img-fluid" src="assets/images/banner1.jpg"
											alt=""></a>
								</div>
								<div class="col-md-3 col-6 footer-img mb-lg-0 mb-4">
									<a href="genre.html"><img class="img-fluid" src="assets/images/banner2.jpg"
											alt=""></a>
								</div>
								<div class="col-md-3 col-6 footer-img mb-lg-0 mb-4">
									<a href="genre.html"><img class="img-fluid" src="assets/images/banner3.jpg"
											alt=""></a>
								</div>
								<div class="col-md-3 col-6 footer-img mb-lg-0 mb-4">
									<a href="genre.html"><img class="img-fluid" src="assets/images/banner4.jpg"
											alt=""></a>
								</div>
							</div>
							<div class="row footer-links">


								<div class="col-md-3 col-sm-6 sub-two-right mt-5">
									<h6>Movies</h6>
									<ul>
										<li><a href="#">Movies</a></li>
										<li><a href="#">Videos</a></li>
										<li><a href="#">English Movies</a></li>
										<li><a href="#">Tailor</a></li>
										<li><a href="#">Upcoming Movies</a></li>
										<li><a href="contact.html">Contact Us</a></li>
									</ul>
								</div>
								<div class="col-md-3 col-sm-6 sub-two-right mt-5">
									<h6>Information</h6>
									<ul>
										<li><a href="index.html">Home</a> </li>
										<li><a href="about.html">About</a> </li>
										<li><a href="#">Tv Series</a> </li>
										<li><a href="#">Blogs</a> </li>
										<li><a href="#">Login</a></li>
										<li><a href="contact.html">Contact</a></li>
									</ul>
								</div>
								<div class="col-md-3 col-sm-6 sub-two-right mt-5">
									<h6>Locations</h6>
									<ul>
										<li><a href="genre.html">Asia</a></li>
										<li><a href="genre.html">France</a></li>
										<li><a href="genre.html">Taiwan</a></li>
										<li><a href="genre.html">United States</a></li>
										<li><a href="genre.html">Korea</a></li>
										<li><a href="genre.html">United Kingdom</a></li>
									</ul>
								</div>
								<div class="col-md-3 col-sm-6 sub-two-right mt-5">
									<h6>Newsletter</h6>
									<form action="#" class="subscribe mb-3" method="post">
										<input type="email" name="email" placeholder="Your Email Address" required="">
										<button><span class="fa fa-envelope-o"></span></button>
									</form>
									<p>Enter your email and receive the latest news, updates and special offers from us.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
			<div class="below-section">
				<div class="container">
					<div class="copyright-footer">
						<div class="columns text-lg-left">
							<p>&copy; 2020 ProShowz. All rights reserved | Designed by <a
									href="https://w3layouts.com">W3layouts</a></p>
						</div>

						<ul class="social text-lg-right">
							<li><a href="#facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
							</li>
							<li><a href="#linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
							</li>
							<li><a href="#twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
							</li>
							<li><a href="#google"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
							</li>

						</ul>
					</div>
				</div>
			</div>
			<!-- copyright -->
			<!-- move top -->
			<button onclick="topFunction()" id="movetop" title="Go to top">
				<span class="fa fa-arrow-up" aria-hidden="true"></span>
			</button>
			
			

		</section>
	</footer>
		<script src="/assets/js/jquery-1.9.1.min.js"></script>
<script src="/assets/js/easyResponsiveTabs.js"></script>
<script src="/assets/js/theme-change.js"></script>
<script src="/assets/js/owl.carousel.js"></script>
<script src="/assets/js/slider.js"></script>
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/choosefood.js"></script>
</body>

</html>
<!-- responsive tabs -->