
<div class="card">
	<div class="card-header">
		<div class="card-title row">
			<h5 class="col-9">
				<i class='fas fa-book'></i> DANH SÁCH CÁC RẠP
			</h5>

			<div class="col-4">
				<form class="form-inline my-2 my-lg-0">
					<select ng-model="form.city.id" id="city"
						class="form-control mr-sm-2 ">
						<option ng-repeat="c in city" ng-value="c.id">{{c.name}}</option>
					</select>
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Lọc
						theo thành phố</button>
				</form>
			</div>
			<div class="col-4">
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="text"
						placeholder="Search By Name">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm
						kiếm</button>
				</form>
			</div>

		</div>
	</div>
	<div class="card-body">
		<table class="table table-dark">
			<tr>
				<th>Id</th>
				<th>Tên Rạp</th>
				<th>Thành Phố</th>
				<th>Địa Chỉ</th>
			</tr>

			<tr ng-repeat="item in pager.items">
				<td>{{item.id}}</td>
				<td>{{item.name}}</td>
				<td>{{item.city.name}}</td>
				<td>{{item.address}}</td>
				<td><a style="color: yellow;" href="" ng-click="edit(item)"><i class="fa fa-edit"
						aria-hidden="true"></i>Edit</a></td>
			</tr>
		</table>
		<div style="float: right;"> 
			<button type="button"
				class="btn btn-outline-dark border border-primary text-primary font-weight-bold"
				ng-click="pager.first()" title="Trở về trang đầu ?">
				<img alt="" src="/assets/images/left-arrow.png">
			</button>
			<button type="button"
				class="btn btn-outline-dark border border-primary text-primary font-weight-bold"
				ng-click="pager.prev()" title="Lùi về trang trước đó ?">
				<img alt="" src="/assets/images/arrow-left.png">
			</button>
			<button type="button"
				class="btn btn-outline-dark border border-primary text-primary font-weight-bold"
				ng-click="pager.next()" title="Tiến lên trang trước đó ?">
				<img alt="" src="/assets/images/arrow-right.png">
			</button>
			<button type="button"
				class="btn btn-outline-dark border border-primary text-primary font-weight-bold"
				ng-click="pager.last()" title="Tiến đến trang cuối ?">
				<img alt="" src="/assets/images/right-arrow.png">
			</button>
		</div>
	</div>
	<div class="card-footer">Danh sách Rạp phim</div>
</div>

