<div class="row">
	<div class="col-8">
		<form class="form-inline my-2 my-lg-0">
			From: <input class="form-control mr-sm-2" type="date"> 
			To: <input class="form-control mr-sm-2" type="date">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Filter
				By Release Date</button>
		</form>
	</div>
	<div class="col-4">
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="text"
				placeholder="Search By Name">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
	</div>
</div>



<table class="table table-stripe">
	<tr>
		<th>ID</th>
		<th>Genres</th>
		<th>Name</th>
		<th>Director</th>
		<th>Cast</th>
		<th>Release date</th>
		<th>Running time</th>
		<th>Language</th>
		<th>Rated</th>
		<th>Summary</th>
		<th>Poster</th>
		<th>Trailer</th>
		<th>Activity</th>
	</tr>

	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>

		<td><a style="color: yellow;" href=""><i class="fa fa-edit"
				aria-hidden="true"></i>Edit</a> <a style="color: red;" href=""><i
				class="fa fa-trash" aria-hidden="true"></i>Delete</a></td>
	</tr>

</table>
<div class="panel-footer text-center">
	<button ng-click="" class="btn btn-danger">
		<i class='fas fa-angle-double-down'></i>
	</button>
	<button ng-click="" class="btn btn-primary">
		<i class='fas fa-angle-double-left'></i>
	</button>
	<button class="btn btn-success"></button>
	<button ng-click="" class="btn btn-primary">
		<i class='fas fa-angle-double-right'></i>
	</button>
	<button ng-click="" class="btn btn-danger">
		<i class='fas fa-angle-double-down'></i>
	</button>

</div>
