<div class="card">
	<div class="card-header">
		<div class="card-title">
			<h5>
				<i class='fas fa-book'></i> QUẢN LÝ THÔNG TIN KHÁCH HÀNG
			</h5>
		</div>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-3">
				<div class="border p-3">
					<label for="image"> <img
						ng-src="{{'/assets/images/' + form.image}}" alt=""
						class="img-fluid">
					</label>

					<div class="input-group mb-3 mt-3">
						<div>Image: </div>
						<input ng-model="form.image" type="file" id="image"
							class="form-control"
							onchange="angular.element(this).scope().imageChange(this.files)">
					</div>
				</div>
			</div>
			<div class="col-5 ">
			<div class="form-group ">
					<label>Username</label> <input ng-model="form.username" ng-disabled="isLoad"
					 type="text" id="username" ng-class="error.name?'border-danger':' '"
						class="form-control" placeholder=" UserName" >						
							<span class="text-danger" ng-show="error.name">{{error.username}}</span>
				</div>
				<div class="form-group ">
					<label>Họ & tên</label> <input ng-model="form.fullname" type="text"
					 id="fullname" ng-class="error.fullname?'border-danger':' '"
						 placeholder=" Name" class="form-control">
							<span class="text-danger" ng-show="error.fullname">{{error.fullname}}</span>
				</div>
				<div class="form-group">
					<label>Mật Khẩu</label> <input ng-model="form.password" id="password" class="form-control"
						type="password" ng-class="error.password?'border-danger':' '" placeholder="Pass">
							<span class="text-danger" ng-show="error.password">{{error.password}}</span>
				</div>

				<div class="form-group">
					<label>SĐT</label> <input ng-model="form.phone" type="text" id="phone" class="form-control"
						ng-class="error.phone?'border-danger':' '" placeholder="Phone" >
							<span class="text-danger" ng-show="error.phone">{{error.phone}}</span>
				</div>

				Activity:
				<div class="form-check form-check-inline">
					<label> <input ng-model="form.activity" type="radio"
						class="form-check-input" ng-value="true">Yes
					</label> <br> <label> <input ng-model="form.activity"
						type="radio" class="form-check-input" ng-value="false">No
					</label>
				</div>


			</div>
			<div class="col-4">
				<div class="form-group">
					<label>Email</label> <input ng-model="form.email" type="text" id= "email" class="form-control"
						ng-class="error.email?'border-danger':' '" placeholder="Email" >						
							<span class="text-danger" ng-show="error.email">{{error.email}}</span> 
				</div>
				<div class="form-group">
					<label>CMND</label> <input ng-model="form.cmnd" type="text" id="cmnd" class="form-control"
						ng-class="error.cmnd?'border-danger':' '" placeholder="cmnd" >
							<span class="text-danger" ng-show="error.cmnd">{{error.cmnd}}</span> 
				</div>
				<div class="form-group">
					<label>Địa Chỉ</label> <input ng-model="form.address" type="text" id="address" class="form-control"
						ng-class="error.address?'border-danger':' '" placeholder="Address" >
							<span class="text-danger" ng-show="error.address">{{error.address}}</span> 
				</div>
				Giới tính:
				<div class="form-check form-check-inline">
					<label> <input ng-model="form.gender" type="radio"
						class="form-check-input" ng-value="true">Male
					</label> <br> 
					<label> <input ng-model="form.gender"
						type="radio" class="form-check-input" ng-value="false">Female
					</label>
				</div>

			</div>


		</div>
	</div>
</div>
<br />
<div class="form-group">
	<button type="button" ng-click = "create()" 
		class="btn btn-outline-dark border border-primary text-primary font-weight-bold">
		<img alt="" src="/assets/images/edit.png"> Create
	</button>
	<button type="button" ng-click = "update()" 
		class="btn btn-outline-dark border border-warning text-warning font-weight-bold">
		<img alt="" src="/assets/images/write.png"> Update
	</button>
	<button type="button" ng-click = "delete(form.username)"
		class="btn btn-outline-dark border border-danger text-danger font-weight-bold">
		<img alt="" src="/assets/images/trash.png">Delete
	</button>
	<button type="button" ng-click = "reset()"
		class="btn btn-outline-dark border border-success text-success font-weight-bold">
		<img alt="" src="/assets/images/updated.png">Reset
	</button>
</div>
<div class="card-footer">Vui lòng nhập thông tin các sản phẩm</div>


